.user-form {
    max-width: 540px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.mode-button {
    margin-top: 1em;
}

.info-text {
    margin-top: 3em;
}

.error-message-container {
    margin-top: 1em;
}

.error-message {
    color: #d44b3b;
    font-size: 18px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}